@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bloc-page {
  width: 375px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.head-homepage {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}
.head-homepage img {
  width: 170px;
}

.head-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  box-shadow: 0 5px 7px -5px #b3b3b3 inset;
}
.head-form input {
  width: 120px;
  background-color: #e6e6e6;
  margin: 15px 0 15px 0px;
  font-size: 0.9em;
  font-weight: 550;
  text-align: center;
  border: none;
  outline: none;
}

.head-banner {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  text-align: center;
}
.head-banner h1 {
  margin: 0;
  padding: 40px 50px 0 50px;
  font-size: 1.5em;
}
.head-banner p {
  margin: 0;
  padding: 15px 0 30px 0;
  font-size: 1.1em;
  font-weight: 280;
}
.head-banner a {
  width: 200px;
  margin: auto;
  color: white;
  background: linear-gradient(175deg, #FF79DA, 62%, #9356DC);
  margin-bottom: 50px;
  padding: 15px 10px;
  font-weight: 500;
  border-radius: 30px;
  box-shadow: 0 3px 10px #b3b3b3;
}

.bloc-nav {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}
.bloc-nav h2 {
  margin: 40px 0 30px 0;
  font-size: 1.5em;
}
.bloc-nav__btn {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #e6e6e6;
  position: relative;
  z-index: 1;
}
.bloc-nav__btn:hover::after {
  opacity: 1;
}
.bloc-nav__btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f2eafb;
  border-radius: 20px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms ease-in-out;
}
.bloc-nav__btn i {
  font-size: 1.1em;
  padding: 0 25px 0 20px;
  color: #737373;
  transition: color 300ms ease-in-out;
}
.bloc-nav__btn .fa-mobile-alt {
  font-size: 1.2em;
  padding-right: 30px;
}
.bloc-nav__btn .fa-store {
  font-size: 1em;
}
.bloc-nav__btn:hover > i {
  color: #9356DC;
}
.bloc-nav--number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  color: white;
  background-color: #9356DC;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}
.bloc-nav--text {
  font-size: 1rem;
  font-weight: 500;
}

.homepage {
  background-color: whitesmoke;
  padding-bottom: 40px;
}
.homepage h1 {
  padding: 40px 0 0px 5%;
}
.homepage img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: 0 100%;
}
.homepage .homepage-item {
  display: block;
  width: 90%;
  height: 250px;
  margin: auto;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #e6e6e6;
  position: relative;
}
.homepage .homepage-item__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}
.homepage .homepage-item h2 {
  margin: 8px 0;
  font-size: 1.1em;
}
.homepage .homepage-item p {
  margin: 0;
}
.homepage .homepage-item .homepage-item__btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #2a947a;
  padding: 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 3px;
}
.homepage .homepage-item--img {
  object-position: 0 60%;
}
.homepage .homepage-item .heart-full {
  width: 20px;
  margin: 20px;
}

.footer-homepage {
  display: flex;
  flex-direction: column;
  background-color: #404040;
  padding: 0 0 20px 20px;
}
.footer-homepage h1 {
  font-family: "Shrikhand", cursive;
  padding: 8px 0 3px 0;
  color: white;
  font-size: 1.1em;
}
.footer-homepage .footer-homepage__text i {
  margin-right: 8px;
}
.footer-homepage .fa-utensils {
  padding-right: 8px;
}
.footer-homepage a {
  color: white;
}
.footer-homepage .footer-homepage__text {
  color: white;
  margin-bottom: 5px;
}

.bloc-page {
  border: 1px solid black;
}

.head-french {
  display: flex;
  align-items: center;
  padding: 15px 0 10px 0;
}
.head-french a {
  margin-left: 20px;
  font-size: 20px;
  color: #999999;
}
.head-french img {
  width: auto;
  margin: auto;
}

/*# sourceMappingURL=main.css.map */
