@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bloc-page {
  width: 375px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  width: 100%;
}

.banner-enchant--img {
  height: 255px;
  object-fit: cover;
}

.head-homepage {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}
.head-homepage img {
  width: 170px;
}

.head-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  box-shadow: 0 5px 7px -5px #b3b3b3 inset;
}
.head-form input {
  width: 120px;
  background-color: #e6e6e6;
  margin: 15px 0 15px 0px;
  font-size: 0.9em;
  font-weight: 550;
  text-align: center;
  border: none;
  outline: none;
}

.head-banner {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  text-align: center;
}
.head-banner h1 {
  margin: 0;
  padding: 40px 50px 0 50px;
  font-size: 1.5em;
}
.head-banner p {
  margin: 0;
  padding: 15px 0 30px 0;
  font-size: 1.1em;
  font-weight: 280;
}
.head-banner a {
  width: 200px;
  margin: auto;
  color: white;
  background: linear-gradient(175deg, #FF79DA, 62%, #9356DC);
  margin-bottom: 50px;
  padding: 15px 10px;
  font-weight: 500;
  border-radius: 30px;
  box-shadow: 0 3px 10px #b3b3b3;
  position: relative;
  z-index: 1;
}
.head-banner a:hover::after {
  opacity: 1;
}
.head-banner a::after {
  content: "";
  width: 200px;
  margin: auto;
  color: white;
  background: linear-gradient(175deg, #FF79DA, 62%, #9356DC);
  margin-bottom: 50px;
  padding: 15px 10px;
  font-weight: 500;
  border-radius: 30px;
  box-shadow: 0 3px 10px #b3b3b3;
  position: relative;
  position: absolute;
  inset: 0;
  background: linear-gradient(175deg, #ff8de0, 62%, #9e67e0);
  margin: 0;
  box-shadow: 0 3px 5px #b3b3b3;
  opacity: 0;
  z-index: -1;
  transition: all 350ms ease;
}

.bloc-nav {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}
.bloc-nav h2 {
  margin: 40px 0 30px 0;
  font-size: 1.5em;
}
.bloc-nav__btn {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 20px;
  padding: 30px 0;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #e6e6e6;
  position: relative;
  z-index: 1;
}
.bloc-nav__btn:hover::after {
  opacity: 1;
}
.bloc-nav__btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f2eafb;
  border-radius: 20px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms ease-in-out;
}
.bloc-nav__btn i {
  font-size: 1.1em;
  padding: 0 25px 0 40px;
  color: #737373;
  transition: color 300ms ease-in-out;
}
.bloc-nav__btn .fa-mobile-alt {
  font-size: 1.2em;
  padding-right: 30px;
}
.bloc-nav__btn .fa-store {
  font-size: 1em;
}
.bloc-nav__btn:hover > i {
  color: #9356DC;
}
.bloc-nav--number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  color: white;
  background-color: #9356DC;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}
.bloc-nav--text {
  font-size: 1rem;
  font-weight: 500;
}

.homepage {
  background-color: whitesmoke;
  padding-bottom: 40px;
}
.homepage h1 {
  padding: 40px 0 30px 5%;
}
.homepage img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: 0 100%;
}
.homepage .homepage-item {
  display: block;
  width: 90%;
  height: 250px;
  margin: auto;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #e6e6e6;
  position: relative;
}
.homepage .homepage-item__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}
.homepage .homepage-item h2 {
  margin: 8px 0;
  font-size: 1.1em;
}
.homepage .homepage-item p {
  margin: 0;
}
.homepage .homepage-item .homepage-item__btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #2a947a;
  padding: 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 3px;
}
.homepage .homepage-item--img {
  object-position: 0 60%;
}
.homepage .homepage-item i {
  position: absolute;
  right: 15px;
  color: #333333;
  font-size: 20px;
  font-weight: normal;
  position: relative;
  transition: opacity 200ms ease-out;
  z-index: 1;
}
.homepage .homepage-item i:hover {
  opacity: 0;
}
.homepage .homepage-item i:hover + .heart-full {
  opacity: 1;
  width: 20px;
}
.homepage .homepage-item .heart-full {
  position: absolute;
  right: 15px;
  width: 20px;
  opacity: 0;
  transition: all 350ms ease;
}

.head-menu {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 15px 0 10px 0;
}
.head-menu a {
  margin-left: 20px;
  font-size: 20px;
  color: #333333;
}
.head-menu img {
  width: auto;
  margin: auto;
}

.sectionmenu {
  height: 100%;
  background-color: #f7f7f7;
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 50px;
  padding: 20px 0;
  margin-bottom: -50px;
}
.sectionmenu h1 {
  font-family: "Shrikhand", cursive;
  padding-bottom: 30px;
  font-size: 1.7em;
  font-weight: 500;
}
.sectionmenu h2 {
  padding: 0 0 25px 8px;
  font-size: 1.1em;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
}
.sectionmenu h2::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 8px;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}
.sectionmenu h3 {
  max-width: 260px;
  font-size: 1.1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 0 5px 10px;
}
.sectionmenu__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: relative;
}
.sectionmenu__head i {
  position: absolute;
  right: 15px;
  color: #333333;
  font-size: 20px;
  font-weight: normal;
  position: relative;
  transition: opacity 200ms ease-out;
  z-index: 1;
}
.sectionmenu__head i:hover {
  opacity: 0;
}
.sectionmenu__head i:hover + .heart-full {
  opacity: 1;
  width: 24px;
}
.sectionmenu__head .heart-full {
  position: absolute;
  right: 15px;
  width: 20px;
  opacity: 0;
  transition: all 350ms ease;
}
.sectionmenu__head i, .sectionmenu__head .heart-full {
  width: 24px;
  font-size: 23px;
  position: absolute;
  right: 30px;
  bottom: 35px;
}
.sectionmenu__container {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}
.sectionmenu__item {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 3px 3px 8px #d9d9d9;
  cursor: pointer;
  overflow: hidden;
}
.sectionmenu__item:hover .icon {
  transform: translateX(0);
}
.sectionmenu__item:hover .price {
  transform: translateX(0);
}
.sectionmenu__item p {
  display: flex;
  align-items: flex-end;
}
.sectionmenu__item div > p {
  display: block;
  max-width: 260px;
  font-size: 0.9em;
  font-weight: 300;
  padding: 0 0 10px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sectionmenu__item .price {
  margin-right: 0;
  font-size: 15px;
  font-weight: 600;
  transform: translateX(60px);
  transition: transform 1s ease;
}
.sectionmenu__item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  transform: translateX(60px);
  transition: transform 1s ease;
  overflow: hidden;
}
.sectionmenu__item .fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
}
.sectionmenu__btn {
  width: 200px;
  margin: auto;
  color: white;
  background: linear-gradient(175deg, #FF79DA, 62%, #9356DC);
  margin-bottom: 50px;
  padding: 15px 10px;
  font-weight: 500;
  border-radius: 30px;
  box-shadow: 0 3px 10px #b3b3b3;
  position: relative;
  text-align: center;
  width: 180px;
  margin-top: 50px;
  cursor: pointer;
  z-index: 1;
}
.sectionmenu__btn:hover::after {
  opacity: 1;
}
.sectionmenu__btn::after {
  content: "";
  width: 200px;
  margin: auto;
  color: white;
  background: linear-gradient(175deg, #FF79DA, 62%, #9356DC);
  margin-bottom: 50px;
  padding: 15px 10px;
  font-weight: 500;
  border-radius: 30px;
  box-shadow: 0 3px 10px #b3b3b3;
  position: relative;
  position: absolute;
  inset: 0;
  background: linear-gradient(175deg, #ff8de0, 62%, #9e67e0);
  margin: 0;
  box-shadow: 0 3px 5px #b3b3b3;
  opacity: 0;
  z-index: -1;
  transition: all 350ms ease;
  width: 180px;
}

.footer-homepage {
  display: flex;
  flex-direction: column;
  background-color: #404040;
  padding: 0 0 20px 20px;
}
.footer-homepage h1 {
  font-family: "Shrikhand", cursive;
  padding: 8px 0 3px 0;
  color: white;
  font-size: 1.1em;
}
.footer-homepage .footer-homepage__text i {
  margin-right: 8px;
}
.footer-homepage .fa-utensils {
  padding-right: 8px;
}
.footer-homepage a {
  color: white;
}
.footer-homepage .footer-homepage__text {
  color: white;
  margin-bottom: 5px;
}

/*# sourceMappingURL=main.css.map */
