// homepage
@import "./utils/import.scss";
@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./base/base.scss";
@import "./layouts/header-homepage.scss";
@import "./layouts/form-homepage.scss";
@import "./layouts/banner-homepage.scss";
@import "./layouts/nav-homepage.scss";
@import "./layouts/section-homepage";
@import "./pages/footer.scss";


// Menu page
.bloc-page{
    border: 1px solid black;
}
.head-french{
    display: flex;
    align-items: center;
    padding: 15px 0 10px 0  ;
    & a{
        margin-left: 20px;
        font-size: 20px;
        color: darken(white, 40);
    }
    & img{
        width: auto;
        margin: auto;
    }
}