// Définition des style principaux

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bloc-page{
    width: 375px;
    margin: auto;
    border: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}

// Header (logo)

.head-homepage{
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
    // box-shadow: 0 5px 8px -5px darken(white, 30);
    & img{
        width: 170px;
    }
}

.head-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darken(white, 10);
    box-shadow: 0 5px 7px -5px darken(white, 30) inset;
    & input{
        width: 120px;
        background-color: darken(white, 10);
        margin: 15px 0 15px 0px;
        font-size: 0.9em;
        font-weight: 550;
        text-align: center;
        border: none;
        outline: none;
    }
}

.head-banner{
    background-color: darken(white, 5);
    text-align: center;
    & h1{
        margin: 0;
        padding: 30px 50px 0 50px ;
        font-size: 1.5em;
    }
    & p{
        margin: 0;
        padding: 15px 0 30px 0;
        font-size: 1.1em;
        font-weight: 280;
    }
    & a{
        width: 200px;
        margin: auto;
        background: radial-gradient($color-secondary, $color-primary);
        margin-bottom: 40px;
        padding: 10px;
        border-radius: 30px;
    }
}