@mixin btn-gradient {
    width: 200px;
    margin: auto;
    color: white;
    background: linear-gradient(175deg, $color-secondary, 62%,$color-primary);
    margin-bottom: 50px;
    padding: 15px 10px;
    font-weight: 500;
    border-radius: 30px;
    box-shadow: 0 3px 10px darken(white, 30);
    position: relative;
}

@mixin btn-lighten{
    @include btn-gradient();
    position: absolute;
    inset: 0;
    background: linear-gradient(175deg, lighten($color-secondary, 4%), 62%,lighten($color-primary, 4%));
    margin: 0;
    box-shadow: 0 3px 5px darken(white, 30);
    opacity: 0;
    z-index: -1;
    transition: all 350ms ease;
}

@mixin btn-heart($size: 20px){
    & i{
        position: absolute;
        right: 15px;
        color: darken(white, 80);
        font-size: 20px;
        font-weight: normal;
        position: relative;
        transition: opacity 200ms ease-out;
        z-index: 1;
        &:hover{
            opacity: 0;
        }
        &:hover + .heart-full{
            opacity: 1;
        }
    }
    & .heart-full{
        position: absolute;
        right: 15px;
        width: 20px;
        opacity: 0;
        transition: all 350ms ease;
    }
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}